{% extends "blog/base_blog.html" %}
{% load shorturl comments %}

{% block title %}{{ post.title }}{% endblock %}

{% block extra_head %}
	<link rel="canonical" href="{{ post.get_absolute_url }}">
	<link rev="shorturl" href="{% shorturl post %}">
	<link rel="home" title="Blog home" href="{% url blog_index %}">
	{% if post.get_prev_post %}
		<link rel="prev" title="{{ post.get_prev_post }}" href="{{ post.get_prev_post.get_absolute_url }}">
	{% endif %}
	{% if post.get_next_post %}
	<link rel="next" title="{{ post.get_next_post }}" href="{{ post.get_next_post.get_absolute_url }}">
	{% endif %}
{% endblock %}

{% block page_class %}hentry{% endblock %}

{% block content_title %}
	<p id="breadcrumbs">
		<a href="/">Home</a> &#x2192;
		<a href="{% url blog_index %}">Blog</a> &#x2192;
		<span>{{ post.title }}</span>
	</p>
	
	<h2 class="entry-title">{{ post.title }}</h2>
	<p class="meta vcard">
		<span class="fn">{{ post.author.get_full_name }}</span> on
		<span class="published" title="{{ post.published|date:"Y-m-d" }}">{{ post.published|date }}</span>
	</p>
{% endblock %}

{% block content %}
	<div class="entry-content">
		{% if post.body %}
			{{ post.body|safe }}
		{% else %}
			{{ post.tease|safe }}
		{% endif %}
	</div>
	
	<div class="comments">
		{% get_comment_form for post as comment_form %}
		<form action="{% comment_form_target %}" method="post" accept-charset="utf-8">
			{{ comment_form.as_p }}
			<p><input type="submit" name="preview" class="sumbit-post" value="Preview"></p>
		</form>
		
		{% get_comment_list for post as comments %}
		{% for comment in comments %}
			
		{% endfor %}
	</div>
{% endblock %}