{% extends "blog/base_blog.html" %}

{% block title %}Blog{% endblock %}

{% block content_title %}
	<p id="breadcrumbs">
		<a href="/">Home</a> &#x2192;
		<span>Blog</span>
	</p>
	
	<h2>Blog</h2>
{% endblock %}

{% block extra_head %}
	<link rel="home" title="Blog home" href="{% url blog_index %}">
	{% if posts.has_previous %}
		<link rel="prev" title="Previous page ({{ posts.previous_page_number }})" href="{% url blog_index %}?page={{ posts.previous_page_number }}">
	{% endif %}
	{% if posts.has_next %}
	<link rel="next" title="Next page ({{ posts.previous_page_number }})" href="{% url blog_index %}?page={{ posts.previous_page_number }}">
	{% endif %}
{% endblock %}

{% block content %}
	<div class="hfeed">
		{% for post in posts.object_list %}
		<div class="hentry">
			<h3><a href="{{ post.get_absolute_url }}">{{ post }}</a></h3>
			<p class="meta">
				<span class="fn">{{ post.author.get_full_name }}</span> on
				<span class="published" title="{{ post.published|date:"Y-m-d" }}">{{ post.published|date }}</span>
			</p>
			{{ post.tease|safe }}
		</div>
		{% endfor %}
	</div>
	
	<p class="pagnation">
		{% if posts.has_previous %}
			<a href="{% url blog_index %}?page={{ posts.previous_page_number }}">
				&#x2190; Previous</a>
		{% endif %}
		<span>page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
		{% if posts.has_next %}
			<a href="{% url blog_index %}?page={{ posts.next_page_number }}">
				Next &#x2192;</a>
		{% endif %}
	</p>
{% endblock %}