/* @override http://127.0.0.1:8000/media/css/screen.css */

div.container { width: 750px; }

/* Tabs */
ul.tabs { margin: 0 ;padding: 0; }
ul.tabs li ul { float: left; }
ul.tabs li { float: left; list-style: none; margin: 0; padding: 0; }
ul.tabs li a { float: left; display: block; }
ul.tabs { display: inline-block; }
ul.tabs:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html ul.tabs { height: 1%; }
ul.tabs, ul.tabs li ul { display: block; }

/* Header */
div#header {  }
div#header img { float: left; margin-right: 1em; }
div#header a img { border: none; }
div#header h1 { margin-bottom: 0; background-color: #000; color: #fc0; font-family: "Courier New", Courier, mono; font-size: 2.5em; }
div#header h1 a { text-decoration: none; color: #fc0; }
div#header p { margin: 0; background-color: #000; color: #fc0; }
div#header .tabs { margin: 0; background-color: #fc0; }
div#header .tabs li { margin-right: 1em; }
div#header .tabs a { margin-top: 2.4em; color: #fc0; text-decoration: none; background-color: #000; padding: .5em 1em 0em 1em; }

/* Page */
div#page { padding-top: 1em; }

/* Body */
div#body {  }
div#body p#breadcrumbs { margin: 0 0 .5em 0; color: #333; border: 1px dashed #ccc; padding: .5em; }
div#body p#breadcrumbs a { color: #191919; text-decoration: none; margin: .5em; }
div#body p#breadcrumbs a:hover { color: #000; }

/* Footer */
div#footer { font-size: .9em; color: #4c4c4c; border-top: 1px solid #e6e6e6; margin-top: .5em; padding-top: .5em; }
div#footer a { color: #333; text-decoration: none; }
div#footer a:hover { color: #000; }
div#footer .tabs { margin: 0; margin-bottom: 1em; }
div#footer .tabs li { margin-right: 2em; }
div#footer p { margin-bottom: .5em; }

/* Index Page */
div.large_block { padding: .5em; margin: .5em; }
div.large_block h2 { margin: 0; }
div.large_block h3 { margin: 0; }
div.large_block p { margin: 0; }

div.small_block { height: 150px; overflow: auto; padding: .5em; margin: .5em; }
div.small_block h2 { margin: 0; }
div.small_block ul { margin: 0; list-style: none; }

/* Blog Pages */
div#block_recent_posts h3 { margin: 0; }
div#block_recent_posts div.hentry { border-bottom: 1px solid #b3b3b3; padding-bottom: .5em; margin-bottom: .5em; }
div#block_recent_posts div.hentry p { margin: 0; }

/* Meeting Index Page */
div#meeting_list div { width: 160px; display: inline-block; float: left; margin-right: 10px; margin-bottom: 1em; }
div#meeting_list h3 { margin: 0; background-color: #000; padding: .2em; }
div#meeting_list h3 a { color: #FFF; text-decoration: none; }
div#meeting_list div p { margin: 0; }
div#meeting_list div p a { text-decoration: none; font-weight: bold; color: #000; }