{% extends "base.html" %}
{% load shorturl %}

{% block extra_head %}
	<link rel="shorturl" href="{% shorturl flatpage %}">
	<link rel="canonical" href="{{ flatpage.get_absolute_url }}">
{% endblock %}

{% block body_id %}community{% endblock %}

{% block sidebar %}
	<ul>
		<li>
			<a href="/community/">Community</a>
			<ul>
				<li><a href="{# TODO url mailing_index #}">Mailing List</a></li>
				<li><a href="{% url planet_index %}">Planet</a></li>
				<li><a href="/community/lug/">Surrounding Area LUGs</a></li>
				<li><a href="/community/usergroups/">Other User Groups</a></li>
			</ul>
		</li>
	</ul>
{% endblock %}