{% include "_tabs.html" %}
<p>
	You should follow us
	<a href="http://twitter.com/gtalug" title="Twitter profile">on Twitter</a> or
	<a href="http://identi.ca/gtalug" title="Identi.ca profile">on Identi.ca</a>.
	Or better yet subscribe to <a href="{# TODO make an everything feed #}">the feed</a> or
	<a href="/mailinglist/" title="GTALUG Mailing List">the mailing list</a>.
	If you feel like sharing join our
	<a href="http://www.flickr.com/groups/gtalug" title="Flickr group">Flickr group</a>,
	<a href="http://friendfeed.com/gtalug/" title="FriendFeed group">FriendFeed group</a>,
	<a href="http://identi.ca/group/gtalug" title="Identi.ca group">Identi.ca group</a>, or
	<a href="http://www.linkedin.com/groups?gid=2066902">Linked In group</a>.
	If you are interested you can grab
	<a href="http://github.com/myles/gtalug">the source code</a>.
</p>
<p>
	Unless otherwise noted, everything here is available via the <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/ca/" rel="license">Creative Commons Attribution-Noncommercial-Share Alike 2.5 Canada License</a>.
</p>