<ul class="tabs">
	<li><a href="/">Home</a></li>
	<li><a href="/about/">About</a>{% block extra_tabs_about %}{% endblock %}</li>
	<li><a href="{% url meetings_index %}">Meetings</a>{% block extra_tabs_meetings %}{% endblock %}</li>
	<li><a href="/events/">Events</a>{% block extra_tabs_events %}{% endblock %}</li>
	<li><a href="{% url blog_index %}">Blog</a>{% block extra_tabs_blog %}{% endblock %}</li>
	<li><a href="/community/">Community</a>{% block extra_tabs_community %}{% endblock %}</li>
	<li><a href="/search/">Search</a></li>
</ul>