<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>GTALUG - {% block title %}{% endblock %}</title>
		
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" charset="utf-8">
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print" charset="utf-8">
		<!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css" media="screen, projection" charset="utf-8">
		
		{% block extra_head %}{% endblock %}
	</head>
	<body id="www_gtalug_org {% block body_id %}{% endblock %}">
		<div class="container">
			<div id="header" class="span-18">
				<a href="{% url homepage %}"><img src="{{ MEDIA_URL }}img/logo-small.png" title="GTALUG - Greater Toronto Linux User Group"></a>
				<h1 id="greater_toronto_linux_user_group"><a href="{% url homepage %}">Greater Toronto Linux User Group</a></h1>
				<p>Committed to the free exchange of Linux-related information in the Greater Toronto area.</p>
				
				{% include "_tabs.html" %}
			</div>
			
			<div class="span-18" id="page">
				{% block page %}
					<div class="span-10 prepend-1 colborder" id="body">
						{% block body %}
							{% block content_title %}{% endblock %}
							{% block content %}{% endblock %}
						{% endblock %}
					</div>
					<div class="span-6 last" id="sidebar">
						{% block sidebar %}{% endblock %}
					</div>
				{% endblock %}
			</div>
			
			<div class="span-18" id="footer">
				{% include "_tabs.html" %}
				<p>Creative Commons Attribution 2.5 Canada License</p>
			</div>
		</div>
		
		{% block extra_body %}{% endblock %}
	</body>
</html>