{% extends "events/base_events.html" %}

{% block title %}Events for {{ date|date:"F Y"}}{% endblock %}

{% block extra_body %}
	<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/hcalendar.js"></script>
	<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$("ul.vcalendar").hide();
		});
	</script>
{% endblock %}

{% block page %}
	<h2>Events for {{ date|date:"F Y" }}</h2>
	
	<p class="navigation"><a href="{% url events_list previous_month|date:"Y" previous_month|date:"m" %}">&#x2190; {{ previous_month|date:"F Y" }}</a> - <a href="{% url events_list next_month|date:"Y" next_month|date:"m" %}">{{ next_month|date:"F Y" }} &#x2192;</a></p>
	
	<div id="jhCalendar"></div>
	
	<ul class="vcalendar">
	{% if meeting %}
		<li class="vevent">
			<a href="{{ meeting.get_absolute_url }}" class="summary">GTALUG Meeting</a>
			<addr class="dtstart">{{ meeting.date|date:"Ymd" }}{{ meeting.time }}</addr>
		</li>
	{% endif %}
	{% for event in events %}
		<li class="vevent">
			<a href="{{ event.get_absolute_url }}" class="summary">{{ event.title }}</a>
			<addr class="dtstart">{{ event.date|date:"Ymd" }}{% if event.time %}T{{ event.time }}{% endif %}</addr>
		</li>
	{% endfor %}
	</ul>
{% endblock %}