{% extends "base.html" %}
{% load shorturl gtalug_tags %}

{% block title %}{{ meeting.topic }}{% endblock %}

{% block extra_head %}
	<link rel="canonical" href="{{ meeting.get_absolute_url }}">
	<link rev="shorturl" href="{% shorturl meeting %}">
	{% if meeting.tba %}<meta name="robots" content="noindex, follow">{% endif %}
{% endblock %}

{% block content_title %}
	<p id="breadcrumbs">
		<a href="/">Home</a> &#x2192;
		<a href="{% url meetings_index %}">Meetings</a> &#x2192;
		<span>{{ meeting.topic }}</span>
	</p>
{% endblock %}

{% block content %}
	<div class="vcalendar">
		<div class="vevent">
			<div class="dtstart" title="{{ meeting.date|date:"Y-m-d" }}T19:30:00-05:00">
				{{ meeting.date|date }} at {{ meeting.time|time }}
			</div>
			<h3 class="summary">
				{{ meeting.topic }}
			</h3>
			{% if meeting.body %}
				<div class="event-summary">
					{{ meeting.body|safe }}
				</div>
			{% else %}
				<div class="event-summary">
					{{ meeting.tease|safe }}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}