{% extends "base.html" %}
{% load shorturl %}

{% block title %}{{ meeting.topic }}{% endblock %}

{% block extra_head %}
	<link rel="canonical" href="{{ meeting.get_absolute_url }}">
	<link rev="shorturl" href="{% shorturl meeting %}">
{% endblock %}

{% block content %}
	<div class="vcalendar">
		<div class="vevent">
			<div class="dtstart" title="{{ meeting.date|date:"Y-m-d" }}T19:30:00-05:00">
				{{ meeting.date|date:"jS F, Y" }}
			</div>
			<h3 class="summary">
				{{ meeting.topic }}
			</h3>
			{% if meeting.body %}
				<div class="event-summary">
					{{ meeting.body|safe }}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}