{% extends "base.html" %}
{% load meetings_tags %}

{% block title %}Greater Toronto Area Linux User Group{% endblock %}

{% block page %}
	<div class="large_block span-18" id="block_upcoming_meeting">
		<h2>Upcoming Meetings</h2>
		<p>GTALUG meets on the second Tuesday of every month at 7:30 p.m.</p>
		{% include "home/block_meetings.html" %}
		{% get_upcoming_meetings 3 as meetings %}
		<p>
		{% for meeting in meetings %}
			{% if forloop.last %}and{% endif %} <a href="{{ meeting.get_absolute_url }}">{{ meeting.date|date }}</a>{% if not forloop.last %},{% endif %}
		{% endfor %}
		</p>
	</div>
	
	<div id="small_blocks">
		<div class="small_block span-8 first colborder" id="block_events">
			{% include "home/block_events.html" %}
		</div>

		<div class="small_block span-7 last" id="block_blog">
			{% include "home/block_blog.html" %}
		</div>

		<div class="small_block span-8 first colborder" id="block_mailing_list">
			{% include "home/block_mailinglist.html" %}
		</div>

		<div class="small_block span-7 last" id="block_planet">
			{% include "home/block_planet.html" %}
		</div>
	</div>
{% endblock %}